@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/OpenSansCondensed-Bold.ttf");
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url("../fonts/OpenSansCondensed-Light.ttf");
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'OpenSans-Light';
    font-weight: 800;
    line-height: 1.8em;
    color: rgba(0,0,0, 1);
    letter-spacing: 3px;
    background-color: rgba(245,178,159,0.1);
}

.img_parallax_topo {
    position: absolute;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-height: 100%;
    opacity: .3;
    z-index: -1;
}

a {
    text-decoration: none;
    color: rgba(26, 26, 26, .8);
}

header {
    background-color: rgb(245, 178, 159);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    color: white;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    font-size: 1.5rem;
}

section {
    background-color: none;
    margin: 0;
    height: auto;
    margin-bottom: 200px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
}

.item {
    align-self: baseline;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}

.item img {
    width: 70%;
    border-bottom: 5px rgb(245, 178, 159) ridge;
    border-radius: 25%;
}

.item h1 {
    text-align: center;
    font-family: 'OpenSans-Bold';
    margin: 15px
}

.item h2 {
    margin: 15px
}

.container-fluid {
    display: inline-block;
    width: 100%;
    height: 80%;
}

.mapa,
.contato {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    margin-top: 100px;
    height: 80%;
}
.contato-mapa-item {
    padding: 10px;
    margin: 20px
}

.contato-mapa-item a {
    font-size: 2rem;
}

.item-sobre {
    width: 100%;
    margin-top: 5%;
    text-align: left;
    padding: 10px;
}

.item-sobre:nth-child(2),
.item-sobre:nth-child(3) {
    width: 60%;
    text-align: left;
    padding: 10px;
}

.item-sobre:nth-child(1),
.item-sobre:nth-child(4) {
    width: 40%;
    vertical-align: middle;
    text-align: center;
}

.item-sobre .img-sobre {
    text-align: center;
    width: 60%;
    border-radius: 50%;
}

.item-sobre .img-sobre-2 {
    width: 90%;
    border-radius: 20%;
}

.item-sobre .img-sobre-3 {
    width: 50%;
    text-align: right;
}

.item-sobre p {
    text-indent: 10%;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.item-sobre ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.item-sobre h2 {
    font-weight: bold;
    text-align: center;
}

.item-sobre h3,
.mapa h3,
.contato h3  {
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    margin: 5px;
    text-align: center;
    height: auto;
    width: auto;
}

.btn_site {
    height: auto;
    display: block;
    width: 80%;
    margin: 5px 10%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: rgba(245, 178, 159, 0.7);
}

.btn_site:hover {
    background-color: rgba(245, 178, 159, 1.0);
    transform: scale(1.1);
}

.btn_wpp {
    height: auto;
    display: block;
    width: 80%;
    margin: 5px 10%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    background-color: rgba(246, 135, 108, 0.9);
}

.btn_wpp:hover {
    background-color: rgb(246, 135, 108);
    transform: scale(1.1);
}

.table-emagrecer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px rgba(245, 178, 159, .7) solid;
    border-radius: 5%;
    padding: 5px;
    margin: 30px;
    box-shadow: 0px 0px 50px rgba(245, 178, 159, .3);
}

.table-emagrecer-item {
    padding: 10px;
    width: 33%;
    text-align: left;
}

.table-emagrecer-item:nth-child(2) {
    padding: 10px;
    border-right: 2px rgba(245, 178, 159, .7) solid;
    border-left: 2px rgba(245, 178, 159, .7) solid;
}

.table-emagrecer-item h3 {
    text-align: center;
}

.lista-programa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5%;
    padding: 10px;
    margin: 50px;
}

.lista-programa-item {
    padding: 10px;
    margin: 10px;
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border: 1px rgba(245, 178, 159, .7) solid;
    box-shadow: 0px 0px 15px rgba(245, 178, 159, .4);
}
footer {
    background-color: rgba(245, 178, 159, 0.1);
    text-align: center;
    width: 100%;
    padding: 0;
    /* position: absolute;
    bottom: 0; */
    z-index: 100;
    font-size: 1rem;
}

@media screen and (max-width:1024px) {
    .btn {
        width: 90%;
        margin: 5px 5%;
    }
    .container {
        margin-top: 15%;
    }
    section {
        margin: 0px;
        margin-bottom: 10px;
    }
    .mapa,
    .contato {
    padding: 10px; 
    width: 100%;
    margin-top: 80px;
    }
    .contato-mapa-item {
        padding: 10px;
        margin: 0px;
    }
    .contato-mapa-item a {
        font-size: 1.5rem;
    }
    .item-sobre:nth-child(2),
    .item-sobre:nth-child(3),
    .item-sobre:nth-child(6) {
        width: 100%;
        margin-top: 10%;
        text-align: justify;
        padding: 2px;
        font-size: 60px
    }
    .item-sobre:nth-child(1),
    .item-sobre:nth-child(4),
    .item-sobre:nth-child(5) {
        margin-top: 10%;
        width: 100%;
    }
    .item {
        width: 100%;
        margin-top: 1%;
    }
    .lista-programa,
    .table-emagrecer {
        margin: 25px;
        padding: 10px;
    }
    .table-emagrecer-item,
    .lista-programa-item {
        width: 100%;
    }
    .table-emagrecer-item:nth-child(2) {
        border: none;
    }
    .nav-item {
        background-color: rgba(245, 178, 159, 1);
        margin: 5px;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 10px;
        height: 50px;
    }
}

@media screen and (max-width:468px) {
    .img_parallax_topo {
        object-fit: contain;
    }
    .btn {
        width: 90%;
        margin: 5px 5%;
    }
    .container {
        margin-top: 15%;
    }
    .table-emagrecer-item,
    .lista-programa-item {
        width: 100%;
    }
    .lista-programa,
    .table-emagrecer {
        margin: 0px;
        margin-top: 40px;
        padding: 0px;
    }
    .lista-programa-item {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .table-emagrecer-item:nth-child(2) {
        border: none;
    }
    .item {
        width: 100%;
        margin-top: 1%;
    }
    .item {
        height: 50%;
    }
    .item-sobre:nth-child(2),
    .item-sobre:nth-child(3),
    .item-sobre:nth-child(6) {
        width: 100%;
        margin-top: 15%;
        text-align: justify;
        padding: 10px;
    }
    .item-sobre:nth-child(1),
    .item-sobre:nth-child(4),
    .item-sobre:nth-child(5) {
        margin-top: 15%;
        width: 100%;
    }
    .item-sobre h2 {
        font-size: 2rem;
    }
    header {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .nav-item {
        background-color: rgba(245, 178, 159, 1);
        margin: 5px;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 10px;
        height: 50px;
    }
}
