@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSansCondensed-Bold.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("../fonts/OpenSansCondensed-Light.ttf");
    font-size: 1em;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'OpenSans-Light';
    line-height: 1.8em;
    color: black;
}

.img_parallax_topo {
    position: absolute;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    width: 100%;
    min-height: 100%;
    opacity: .3;
    z-index: -1;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(247, 215, 148);
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    font-size: 1.5rem;
}

section {
    margin: 0;
    height: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
}

.item {
    align-self: center;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}

.item img {
    width: 70%;
    border-bottom: 5px rgb(245, 178, 159) ridge;
    border-radius: 45%;
}

.item h1 {
    text-align: center;
    font-family: 'OpenSans';
    color: rgba(26, 26, 26, .8);
    margin: 15px
}

.item h2 {
    margin: 15px
}

.nav-item {
    margin: 5px;
    text-align: center;
    height: auto;
    width: auto;
}

.btn_site {
    height: auto;
    display: block;
    width: 80%;
    margin: 5px 10%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: rgba(247, 215, 148, 0.7);
}

.btn_site:hover {
    background-color: rgba(247, 215, 148, 1.0);
    transform: scale(1.1);
}

.btn_wpp {
    height: auto;
    display: block;
    width: 80%;
    margin: 5px 10%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: rgba(254, 211, 48, 0.9);
}

.btn_wpp:hover {
    background-color: rgba(254, 211, 48, 1.0);
    transform: scale(1.1);
}

@media screen and (max-width:1024px) {
    .btn {
        width: 90%;
        margin: 5px 5%;
    }
    .container {
        margin-top: 15%;
    }
    .item {
        width: 100%;
        margin-top: 1%;
    }
    .nav-item {
        background-color: rgba(247, 215, 148, 1);
        margin: 5px;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 10px;
        height: 50px;
    }
}

@media screen and (max-width:468px) {
    .img_parallax_topo {
        min-height: 120%;
    }
    .btn {
        width: 90%;
        margin: 5px 5%;
    }
    .container {
        margin-top: 15%;
    }
    .item {
        width: 100%;
        margin-top: 1%;
    }
    .item img {
        height: 50%;
    }
    header {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .nav-item {
        background-color: rgba(247, 215, 148, 1);
        margin: 5px;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 10px;
        height: 50px;
    }
}