
.column-right {
    position: absolute;
    right: 10%;
    top: 40%;
    width: 40%;
    padding: 10px;
    vertical-align: middle;
    text-align: left;
    font-size: 25px;
}

.column-left {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 40%;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
}

.column-left img {
    width: 70%;
    border-bottom: 5px rgb(245, 178, 159) ridge;
    border-radius: 45%
}
.column-right h1 {
    text-align: center;
    font-family: 'OpenSans';
    color: rgba(26, 26, 26, .8);
    margin: 15px
}

.column-right h2 {
    text-align: center;
    margin: 15px
}




@media screen and (max-width:468px)


.column-left {
    top: 10%;
    left: 0%;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 65%;
    margin: 0;
}
.column-right {
    top: 67%;
    right: 0%;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin: 0;
}
.column-right h2 {
    text-align: center;
}



@media screen and (max-width:860px)

.column-left {
    top: 15%;
    left: 0%;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 65%;
    margin: 0;
}
.column-right {
    top: 67%;
    right: 0%;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin: 0;
}
.column-right h2 {
    text-align: center;
}








<div class="row">
            <div class="col-6 column-left">
                
            </div>
            <div class="col-6 column-right">

                <h1>Bem vinda!</h1>
                <h2>Venha sentir-se melhor e conhecer nosso programa de emagrecimento consciente</h2>


                <button type="button" class="btn btn_site">Grupos de Apoio</button>
                <button type="button" class="btn btn_site">Programa de Emagrecimento Consciente</button>
                <a href="https://api.whatsapp.com/send?phone=5519988735967&text=Oi Andressa! Gostaria de mais informações sobre a consulta" target="_blank"><button type="button" class="btn btn_wpp">Agende uma consulta!</button></a>

            </div>
        </div>